* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
}

.container{
    display: flex; 
    justify-content: space-evenly;
}

.instruction{
    color:white;
    padding: 0 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.game-container{
    position: relative; 
    display: inline-block;
}

#healthBar{
    position: absolute; 
    display: flex; 
    width: 100%; 
    align-items: center; 
    padding: 20px;
}
